<p>conversor works!</p><br>

<div class="OpcsConv">
    Converter <select class="form-select">
        <option selected> </option>
        <option value="1">Metro</option>
        <option value="2">Centimetro</option>
        <option value="3">Milimitros</option>
    </select> Para

    <select class="form-select">
        <option selected> </option>
        <option value="1">Metros</option>
        <option value="2">Centimetros</option>
        <option value="3">Milimitros</option>
    </select> <br>
</div>

<Div class="CamposMedidas">
    
    <input type="text" placeholder="Insira aqui seu valor"><br>
    <button [(ngModel)] = "opt">Converter</button><br>
    <input type="text" placeholder="Resultado" readonly>


</Div>
    